{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>

    {% block styles %}
    {% bootstrap_css %}
         <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

</head>
<body>

{% include "navbar.html" %}
 <div class="dropdown" style="padding-top: 8px; float:left;">

      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Category

      <span class="caret"></span></button>

      <ul class="dropdown-menu">

        <li><a href="/category/SpaceX">SpaceX</a></li>

        <li><a href="/category/Blue Origin">Blue Origin</a></li>

        <li><a href="/category/Virgin Atlantic">Virgin Atlantic</a></li>

      </ul>

      </div>



      <div class="dropdown" style="padding-top: 8px; padding-right:10px; float:left;">

        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location

        <span class="caret"></span></button>

        <ul class="dropdown-menu">

          <li><a href="/location/Canada">Canada</a></li>

          <li><a href="/location/USA">USA</a></li>

          <li><a href="/location/Britain">Britain</a></li>

        </ul>

      </div>



{% block content %}

{% endblock %}

{% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}

<h2></h2>



</body>
</html>