{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>

    {% block styles %}
    {% bootstrap_css %}
         <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

</head>
<body>

{% include "navbar.html" %}
 <div class="dropdown">
  <button class="dropbtn">Categories</button>
  <div class="dropdown-content">
    <a href="/category/SpaceX">SpaceX</a>
    <a href="/category/Blue Origin">Blue Origin</a>
    <a href="/category/Virgin Atlantic">Virgin Atlantic</a>
  </div>


    <div class="dropdown">
  <button class="dropbtn">Countries</button>
  <div class="dropdown-content">
    <a href="/location/USA">USA</a>
    <a href="/location/Canada">Canada</a>
    <a href="/location/Britain">Britain</a>
  </div>
    </div>
</div>

{% block content %}

{% endblock %}

{% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}

<h2></h2>



</body>
</html>