{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{block.super}}



    <section class="gallery-block cards-gallery">
    <div class="container">

    <div class="row">
 {% for img in image %}

     <!-- Modal -->
<div class="modal fade" id="{{ img.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalCenterTitle">{{ img.image_name }}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ img.image.url }}" alt="Card Image" class="card-img-top" width="100%" height="300px">

          <h6>{{ img.image_description }}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Copy Link</button>
      </div>
    </div>
  </div>
</div>


    <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover" >
	                	<a class="lightbox" data-target="#exampleModalCenter">
	                		<img src="{{ img.image.url }}" alt="Card Image" class="card-img-top" width="100%" height="300px" data-toggle="modal" data-target="#{{ img.id }}">



                        </a>

	                </div>
	            </div>

     <!-- Button trigger modal -->





        {% endfor %}
    </div>
    </div>
    </section>



{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/scripts.js'%}"></script>
{% endblock %}

